@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (min-width: 768px) {
  html,
  body {
    overflow: hidden;
  }
}
